<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Search Form</title>
	</head>
	<body>
		<div>
		<h2>Search for a product</h2>
		<form th:action="@{/searchbyid}" method="post">
			<label>Id:</label>
			<input type="number" name="id" required><br><br>
			<button type="submit">Search</button>
		</form>
		</div>
		<div th:if="${product != null}">
			<h2>Product Details</h2>
			<p><strong>ID:</strong><span th:text="${product.id}"></span></p>
			<p><strong>Name:</strong><span th:text="${product.name}"></span></p>
			<p><strong>Brand:</strong><span th:text="${product.brand}"></span></p>
			<p><strong><MadeIn:</strong><span th:text="${product.madein}"></span></p>
			<p><strong>Price:</strong><span th:text="${product.price}"></span></p>
			<p><strong>Quantity:</strong><span th:text="${product.quantity}"></span></p>
			<p><strong>Discoun Rate:</strong><span th:text="${product.discountrate}"></span></p>
			<p><strong>Discount Price:</strong><span th:text="${product.discountPrice}"></span></p>
			<p><strong>Offer Price:</strong><span th:text="${product.offerPrice}"></span></p>
			<p><strong>Tax Price:</strong><span th:text="${product.taxPrice}"></span></p>
			<p><strong>Final Price:</strong><span th:text="${product.finalPrice}"></span></p>
			<p><strong>Stock Price:</strong><span th:text="${product.stockPrice}"></span></p>

		</div>
		<div th:if="${product == null}">
			<p>No product found with the given ID</p>
		</div>
	</body>
</html>